# Definitions that are expected to be the same studio wide
# These can be overridden by the project or user definitions

# basic project info (These rely on values that we expect to be predefined in the parser)
JF_CONTAINER: {{ JF_CONTAINER }}

# container/island path
JF_CONTAINER_ROOT: \\{{ JF_CONTAINER }}

# render farm info
JF_RENDERFARM: "RoyalRender"
JF_RENDERFARM_ROOT: \\rr{{ JF_CONTAINER }}\rr

# Wiki Location
JF_WIKI: "https://jfpuk.sharepoint.com/sites/JellyfishPicturesWiki"

# user folders
JF_USER_FOLDER_ROOT: \\{{ JF_CONTAINER }}\users
JF_USER_FOLDER: \\{{ JF_CONTAINER }}\users\{{ USERNAME }}

JF_SVN_SERVER: "https://{{ JF_CONTAINER }}svn01.jfp{{ JF_CONTAINER }}.local/svn/"