# This file is only expected to be present for Supervisors or pipe TDs
# This allows fine control over certain env vars.
# Some env vars shouldn't be set by the user.env but this is would be controlled by the env parser

# set the jf toolkit to a local clone
JF_TOOLKIT_APPS: {{ JF_TOOLKIT }}\jfapps
JF_TOOLKIT_LIBS: {{ JF_TOOLKIT }}\jflibs
JF_TOOLKIT_DCCLIBS: {{ JF_TOOLKIT }}\jfdcclibs
JF_TOOLKIT_PLUGINS: {{ JF_TOOLKIT }}\jfplugins

# This most be set too so that the sys path append that happens in the env parser is set correctly
JF_PIPE_PYMODULES: {{ JF_TOOLKIT }};{{ JF_PYTHON_LIBS }};{{ JF_TOOLKIT }}\jfapps;{{ JF_TOOLKIT }}\jflibs;
                    {{ JF_TOOLKIT }}\jfdcclibs;{{ JF_TOOLKIT }}\jfplugins;{{ JF_TD_PUBLISH_TOOLS }}
